<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/main.css">
    <title>Error en URL</title>
</head>

<body class="error">
    <h1 class="article__title">La dirección: "<%= error %>" que ha introducido no existe.</h1>
</body>

</html>